<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageSender.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ImageSender.Settings1>
            <setting name="AETitle" serializeAs="String">
                <value>lrf</value>
            </setting>
            <setting name="RemoteHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="RemotePort" serializeAs="String">
                <value>3333</value>
            </setting>
            <setting name="SendThreadNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RemoteAETitle" serializeAs="String">
                <value>UIHPACSSERVER</value>
            </setting>
        </ImageSender.Settings1>
    </applicationSettings>
</configuration>